{% extends 'base.html' %}

{% block jsConnect %}
<script src="{{ url_for('static', filename='baseFunctions.js') }}"></script>
<script src="{{ url_for('static', filename='getTestsList.js') }}"></script>
<script src="{{ url_for('static', filename='getPrediction.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <select class="form-select form-select-lg mb-3" 
            aria-label=".form-select-lg"
            id = "selectSubject"
            name="selectSubject">
                <option>Не выбрано</option>
                {% for sub in subjects %}
                <option value="{{sub}}">{{sub}}</option>
                {% endfor %}
        </select>
        <div class="mb-3">
            <label for="formFile" class="form-label">Зарузите файл для прогнозирования</label>
            <input class="form-control" type="file" 
            id = "formFileInput"  name="formFile" accept=".xls,.xlsx">
        </div>
        <select class="form-select form-select-lg mb-3" 
            aria-label=".form-select-lg"
            name="selectTest"
            id="selectTest">
                {% for t in tests %}
                {% endfor %}
        </select>
        <button type="submit" id="testPredictionButton" class="btn btn-outline-primary center">Прогнозировать баллы контрольной</button>

        <button type="submit" id="examPredictionButton" class="btn btn-outline-primary center">Прогнозировать сдачу на основе контрольной</button>
    </div>
    
    <div class="d-flex flex-column col-9 gap-2 mx-auto gx-3 justify-content-center" style="margin-top: 20px">
        <button class="btn btn-primary center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Посмотреть средние показатели по группам
        </button>
          <div class="collapse" id="collapseExample">
                <div>
                    <canvas id="meanResults"></canvas>
                </div>
                <table class="container-sm table table-striped table-hover" id="MeanResultTable">
                    <thead>
                        <tr>
                            <th scope="col">Группа</th>
                            <th scope="col">Средний показатель</th>
                        </tr>
                    </thead>
                    <tbody id="MeanResultTableBody">
                    </tbody>
                </table>
                
          </div>
    </div>
    
    
    <table class="table table-striped table-hover" id="ResultTable">
		<thead>
			<tr>
				<th scope="col-2">ФИО</th>
                <th scope="col">Группа</th>
				<th scope="col">Прогноз</th>
			</tr>
		</thead>
		<tbody id="tableResultBody">
		</tbody>
	</table>
        
	
{% endblock %}