{% extends 'base.html' %}

{% block jsConnect %}
<script src="{{ url_for('static', filename='baseFunctions.js') }}"></script>
<script src="{{ url_for('static', filename='getTestsList.js') }}"></script>
<script src="{{ url_for('static', filename='getPrediction.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <select class="form-select form-select-lg mb-3" 
            aria-label=".form-select-lg"
            id = "selectSubject"
            name="selectSubject">
                {% for sub in subjects %}
                <option value="{{sub}}">{{sub}}</option>
                {% endfor %}
        </select>
        
        <select class="form-select form-select-lg mb-3" 
            aria-label=".form-select-lg"
            name="selectTest"
            id="selectTest">
                {% for t in tests %}
                {% endfor %}
        </select>
        <span> 
            <label for="formScoresText" class="form-label">Напишите полученные баллы (с учетом нулей)</label>
            <input class="form-control" type="text" required 
            id = "formScoresText"  name="formScoresText" placeholder="5, 0, 4, 0, 0|0, 5, 3">
        </span>
        <span> 
            <label for="formPresText" class="form-label">Напишите отметки о посещении</label>
            <input class="form-control" type="text" required 
            id = "formPresText"  name="formPresText" placeholder="ПНППН|НПП">
        </span>
        <span> 
            <label for="formTestScoreText" class="form-label">Напишите баллы контрольных</label>
            <input class="form-control" type="text" required 
            id = "formTestScoreText"  name="formTestScoreText" placeholder="16.5|0">
        </span>
        <span> 
            <label for="formAdditionText" class="form-label">Напишите доставленные баллы в КР</label>
            <input class="form-control" type="text" required 
            id = "formAdditionText"  name="formAdditionText" placeholder="0|7">
        </span>
        <button type="submit" id="testPredictionButton" class="btn btn-outline-primary center">Прогнозировать баллы контрольной</button>

        <button type="submit" id="examPredictionButton" class="btn btn-outline-primary center">Прогнозировать сдачу на основе контрольной</button>
    
        <div class="d-grid gap-2 col-6 mx-auto">
            <span id="studentResult"> 
                Результаты
                <div class="alert alert-info text-center" role="alert">
                    <h3>Ваши результаты будут тут</h3>
                  </div>
            </span>
        </div>
    
    </div>
    
    
        
	
{% endblock %}